In [10]:
import os
from datetime import datetime

from dotenv import load_dotenv

from money_mover import MoneyMover

In [11]:
# %% Print wallet summary in your account
load_dotenv()
email = os.getenv("EMAIL")
password = os.getenv("PASSWORD")

ml = MoneyMover(
    email,
    password,
    bank_statement_folder="./tests",
    presets_fname="example_presets.json",
)

All user presets have valid categories

In [ ]:
# %% Print wallet summary in your account
print("Your wallet summary:")
print(ml.wallets)

In [ ]:
# Set an active wallet to work with
ml.set_wallet()

In [ ]:
# Display entries in MoneyLover for the selected wallet
print("Current month entries:")
print(ml.this_month)
print("Previous month entries:")
print(ml.previous_month)

In [ ]:
# Display entries in custom time period
print("Custom transactions:")
start_date = datetime.fromisoformat("20231215")
end_date = datetime.fromisoformat("20231231")
print(ml.request_transactions((start_date, end_date)))

In [184]:
# %% Display and navigate through the categories in the wallet. Clears the terminal
ml.display_categories("expense")

Available categories:

                 name sub-categories
0     Food & Beverage              4
1   Bills & Utilities              7
2      Transportation              5
3            Shopping              5
4     Friends & Lover
5       Entertainment              2
6              Travel              1
7    Health & Fitness              4
8   Gifts & Donations              3
9              Family              4
10          Education              1
11         Investment
12           Business
13         Insurances
14               Loan
15     Fees & Charges
16         Withdrawal
17          Repayment
18             Others

Type in category number or 's' to skip transaction
Skipping transaction

In [7]:
# %% Print your report, comparing transactions in MoneyLover, bank and your preset
ml.print_bank_report()

 0: Your local supermarket                  : 01-01-2024 : -    125.43 : Recognized
 1: Some local cafe                         : 02-01-2024 : +     26.89 : Requires manual entry
 2: Amazon                                  : 03-01-2024 : -    198.76 : Requires manual entry
 3: Your local supermarket                  : 06-01-2024 : -    153.20 : Recognized
 4: Something being sold                    : 09-01-2024 : +     37.25 : Requires manual entry
 5: NETFLIX INTERNATIONAL B.V.              : 10-01-2024 : -     11.99 : Recognized
 6: Some local cafe                         : 11-01-2024 : -     41.20 : Requires manual entry
 7: ENECO SERVICES                          : 12-01-2024 : -     82.45 : Requires manual entry
 8: Your local supermarket                  : 13-01-2024 : -    180.30 : Recognized
 9: Tikkie                                  : 15-01-2024 : +    320.00 : Requires manual entry
10: Some local cafe                         : 16-01-2024 : -     67.80 : Requires manual entry
11: NS GROEP IZ NS REIZIGERS                : 17-01-2024 : +     91.25 : Recognized
12: Your local supermarket                  : 18-01-2024 : -    123.75 : Recognized
13: Your salary income                      : 19-01-2024 : +   3175.90 : Recognized
14: Amazon                                  : 20-01-2024 : -    142.70 : Requires manual entry

In [8]:
# Print all your presets in a table
print("User presets:")
ml.print_user_presets()

User presets:
            conditions                                      label  \
                  name debit/credit amount                   note
0  .*local supermarket        Debit               Jumbo groceries
1            NETFLIX.*        Debit  11.99   Netflix subscription
2           NS GROEP.*                      NS train subscription
3           .*salary.*       Credit                Monthly salary


  category_name     type
0     Groceries  expense
1    Television  expense
2        Trains  expense
3        Salary   income

In [9]:
# Run this to populate the transactions, which are not in your wallet.
# You will be prompted if you want to add them, so it is safe to run.
# WARNING: if you choose yes, the records from the example will be added!
ml.transfer_bank_transactions()

Do you want to add following entries?
 0: Your local supermarket                  : 01-01-2024 : -    125.43 :
 3: Your local supermarket                  : 06-01-2024 : -    153.20 :
 5: NETFLIX INTERNATIONAL B.V.              : 10-01-2024 : -     11.99 :
 8: Your local supermarket                  : 13-01-2024 : -    180.30 :
11: NS GROEP IZ NS REIZIGERS                : 17-01-2024 : +     91.25 :
12: Your local supermarket                  : 18-01-2024 : -    123.75 :
13: Your salary income                      : 19-01-2024 : +   3175.90 :
Sorry, the input is not valid

Would you like to add 8 remaining transations manually:
 1: Some local cafe                         : 02-01-2024 : +     26.89 :
 2: Amazon                                  : 03-01-2024 : -    198.76 :
 4: Something being sold                    : 09-01-2024 : +     37.25 :
 6: Some local cafe                         : 11-01-2024 : -     41.20 :
 7: ENECO SERVICES                          : 12-01-2024 : -     82.45 :
 9: Tikkie                                  : 15-01-2024 : +    320.00 :
10: Some local cafe                         : 16-01-2024 : -     67.80 :
14: Amazon                                  : 20-01-2024 : -    142.70 :

,date,name,account,counterparty,code,debit/credit,amount,transaction type,notifications,is_in_ml,has_preset,note,category_name,type
1,2024-01-02,Some local cafe,NL55INGB0000000000,NL5511122233334444,IC,Credit,26.89,SEPA direct debit,"Lorem ipsum dolor sit amet, consectetur adipis...",False,False,NaN,NaN,NaN
2,2024-01-03,Amazon,NL55INGB0000000000,NL5566667777888899,GT,Debit,198.76,Online Banking,"Lorem ipsum dolor sit amet, consectetur adipis...",False,False,NaN,NaN,NaN
4,2024-01-09,Something being sold,NL55INGB0000000000,NL5512345678901234,GT,Credit,37.25,Online Banking,"Lorem ipsum dolor sit amet, consectetur adipis...",False,False,NaN,NaN,NaN
6,2024-01-11,Some local cafe,NL55INGB0000000000,NL5533334444555566,GT,Debit,41.20,Online Banking,"Lorem ipsum dolor sit amet, consectetur adipis...",False,False,NaN,NaN,NaN
7,2024-01-12,ENECO SERVICES,NL55INGB0000000000,NL5509876543210987,IC,Debit,82.45,Online Banking,"Lorem ipsum dolor sit amet, consectetur adipis...",False,False,NaN,NaN,NaN
9,2024-01-15,Tikkie,NL55INGB0000000000,NL5544445555666677,GT,Credit,320.00,SEPA direct debit,"Lorem ipsum dolor sit amet, consectetur adipis...",False,False,NaN,NaN,NaN
10,2024-01-16,Some local cafe,NL55INGB0000000000,NL5588889999111122,IC,Debit,67.80,Online Banking,"Lorem ipsum dolor sit amet, consectetur adipis...",False,False,NaN,NaN,NaN
14,2024-01-20,Amazon,NL55INGB0000000000,NL5512345678901234,IC,Debit,142.70,SEPA direct debit,"Lorem ipsum dolor sit amet, consectetur adipis...",False,False,NaN,NaN,NaN